//**********
// @media **
//**********

@mixin media-min($media) {
    @media (min-width: $media) {
        @content;
    }
}

@mixin media-max($media) {
    @media (max-width: $media) {
        @content;
    }
}

@mixin media-Range($minMedia, $maxMedia) {
    @media (min-width:$minMedia) and (max-width:$maxMedia) {
        @content;
    }
}


@import 'OOCSS/grid';
@import 'OOCSS/spacing';
@import 'OOCSS/root';
@import 'OOCSS/display-font';


@mixin overflow-scrollbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    &::-webkit-scrollbar{
        width: 0.75rem;
    }
    &::-webkit-scrollbar-track {
        background-color: #777;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background-color: #333;
    }
}

@mixin stretched {
    &::after{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        pointer-events: auto;
        content: "";
        background-color: rgba(0, 0, 0, 0);
    }
}