//*************
// mediaSize **
//*************

    $mediaSize-MP:(
        "xxs":350px,
        "xs": 400px,
        "sm": 576px,
        "md": 768px,
        "lg": 992px,
        "xl": 1200px,
        "xxl": 1600px
    )!default;

    $mediaSize-PC:(
        "xxl":1600px,
        "xl": 1200px,
        "lg": 992px,
        "md": 768px,
        "sm": 576px,
        "xs": 400px,
        "xxs":350px
    )!default;

    $mediaSizeRange:(
        "xxl": (1600px,9999px),
        "xl":  (1200px,1600px),
        "lg":  (992px,1200px),
        "md":  (768px,992px),
        "sm":  (576px,768px),
        "xs":  (400px,576px),
        "xxs": (0px,400px)
    ) !default;

//**********
// @media **
//**********

$xxl: 1600px!default;
$xl: 1200px!default;
$lg: 992px!default;
$md: 768px!default;
$sm: 576px!default;
$xs: 400px!default;
$xxs:350px!default;

//******************
// grid container **
//******************

$grid-gutters: 32px;

$container-width:(
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px
)!default;
    
//*********************
// heading font size **
//*********************

$headingFontSize:(
    "h1": 2.5rem,
    "h2": 2rem,
    "h3": 1.5rem,
    "h4": 1.25rem,
    "h5": 1.125rem,
    "h6": 1rem,
    "p":  1rem,
    "label": 0.875rem,
    "small": 0.75rem
)!default;

//*************************
// RWD heading font size **
//*************************

$FontSize-display-1:(
    "xxs": 2.25rem,
    "xs":  2.5rem,
    "sm":  3rem,
    "md":  3.5rem,
    "lg":  4rem,
    "xl":  4.5rem,
    "xxl": 4.5rem,
)!default;

$FontSize-display-2:(
    "xxs": 2rem,
    "xs":  2.5rem,
    "sm":  3rem,
    "md":  3.125rem,
    "lg":  3.125rem,
    "xl":  3.125rem,
    "xxl": 3.125rem,
)!default;

$FontSize-display-3:(
    "xxs": 1.5rem,
    "xs":  1.75rem,
    "sm":  2rem,
    "md":  2.5rem,
    "lg":  2.5rem,
    "xl":  2.5rem,
    "xxl": 2.5rem,
)!default;

$FontSize-display-4:(
    "xxs": 1.25rem,
    "xs":  1.375rem,
    "sm":  1.5rem,
    "md":  1.5rem,
    "lg":  1.5rem,
    "xl":  1.5rem,
    "xxl": 1.5rem,
)!default;

$FontSize-display-5:(
    "xxs": 1rem,
    "xs":  1.125rem,
    "sm":  1.125rem,
    "md":  1.25rem,
    "lg":  1.25rem,
    "xl":  1.25rem,
    "xxl": 1.25rem,
)!default;

$FontSize-display:(
    1: $FontSize-display-1,
    2: $FontSize-display-2,
    3: $FontSize-display-3,
    4: $FontSize-display-4,
    5: $FontSize-display-5
)!default;

//*************
// Color 引用 **
//*************

$color-black : #000;
$color-dark-1 : #111;
$color-dark-2 : #222;
$color-dark-3 : #333;
$color-dark-4 : #444;
$color-gray-1 : #555;
$color-gray-2 : #666;
$color-gray-3 : #777;
$color-gray-4 : #888;
$color-gray-5 : #999;
$color-gray-6 : #aaa;
$color-gray-7 : #bbb;
$color-gray-8 : #ccc;
$color-gray-9 : #ddd;
$color-light-4 : #e0e0e0;
$color-light-3 : #e9e9e9;
$color-light-2 : #f2f2f2;
$color-light-1 : #fafafa;
$color-white : #fff;

$color-primary   : #007bff !default;
$color-secondary : #6c757d !default;
$color-success   : #28a745 !default;
$color-info      : #17a2b8 !default;
$color-warning   : #ffc107 !default;
$color-danger    : #dc3545 !default;




