.home{
    .sec1{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
            span{
                @include display-font(3);
                letter-spacing: 0.25rem;
                font-weight: bold;
                text-shadow: 0 0 0.5rem rgba(0, 0, 0,0.8);
            }
        }
    }
    .sec2{
        width: 100%;
        @include media-max($sm) {
            @include px(1rem);
        }
        &#{-container}{
            @include container;
            margin-bottom: 5rem;
        }
        &#{-heading}{
            position: relative;
            text-align: center;
            padding-bottom: 1.5rem;
            .h2-en{     
                font-size: 6rem;
                @include media-max($md) {
                    font-size: 4rem;
                }
                font-weight: bold;
                letter-spacing: 0.5rem;
                color: #3a3;
                text-shadow: 0 -0.25rem 0.25rem rgba(0, 0, 0,0.8);
            }
            .h2-ch{
                @include display-font(2);
                font-weight: bold;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                padding-top: 4rem;
                @include media-max($md) {
                    padding-top: 2.5rem;
                }
                letter-spacing: 0.25rem;
                text-shadow: 0 -0.25rem 0.25rem rgba(0, 0, 0,0.8);
            }
        }
        &#{-row}{
            @include row;
            background-color: rgba(0, 0, 0, 0);

            &#{-col}{
                display: flex;
                flex-direction: column;
                
                h3{
                    font-weight: bold;
                    letter-spacing: 0.125rem;
                }

                .tab-navbar{
                    flex-grow: 1;
                }
                .tab-nav{
                    @include media-max($sm) {
                        justify-content: center;
                    }
                }
                .tab-link{
                    text-align: center;
                    @include media-max($sm) {
                        max-width: 4rem;
                    }
                }
                .tab-panel{
                    overflow-y: auto;
                }

                p{
                    padding: 1rem 0;
                }
                

                &#{-btn}{
                    text-align: right;
                    
                    button{
                        border: solid 0.0625rem #fff;
                        background-color: transparent;
                        font-size: 1rem;
                        padding: 0.25rem 1.5rem;
                        border-radius: 0.25rem;
                        color: #fff;
                        font-weight: bold;
                        transition: all 0.2s;
                        cursor: pointer;

                        &:hover {
                            background-color: #fff;
                            color: #000;
                        }
                        &:focus {
                            outline: 0;
                            box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.4);
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }
            }

            .img-block{
                @include col(40%);
                @include my(1rem);
                img{
                    border-radius: 1rem;
                }
                @include media-max($xl) {
                    @include mx(auto);
                }
                @include media-max($lg) {
                    @include col(60%);
                }
                @include media-max($md) { 
                    @include col(80%);
                } 
            }
            .text-block{
                @include col(60%);
                @include my(1rem);
                background-color: #007700aa;
                border-radius: 1rem;
                padding: 1rem;
                @include media-max($xl) {
                    @include col(100%);                  
                    min-height: 18rem;
                }
                @include media-max($md) {                
                    min-height: 20rem;
                }
                @include media-max($sm) {                
                    min-height: 24rem;
                }
            }
        }
    }
    .sec3{
        background-color: rgb(50, 200, 50);
        width: 100%;
        height: 60rem;
        width: 100%;
        &#{-container}{
            @include container;
            margin-bottom: 5rem;
        }
        &#{-heading}{
            position: relative;
            text-align: center;
            padding-bottom: 1.5rem;
            .h2-en{     
                font-size: 6rem;
                @include media-max($md) {
                    font-size: 4rem;
                }
                font-weight: bold;
                color: #9e9;
                text-shadow: 0 -0.25rem 0.25rem rgba(0, 0, 0,0.8);
            }
            .h2-ch{
                @include display-font(2);
                font-weight: bold;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                padding-top: 4rem;
                @include media-max($md) {
                    padding-top: 2.5rem;
                }
                letter-spacing: 0.375rem;
                text-shadow: 0 -0.25rem 0.25rem rgba(0, 0, 0,0.8);
            }
        }
        h2{
            span{
                letter-spacing: 0.25rem;
                font-weight: bold;
                text-shadow: 0 0 0.5rem rgba(0, 0, 0,0.8);
            }
        }
    }



}

